<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
<div class="bordered-link block_align">
<div class="dobr">Добро пожаловать!</div>
<div>
    <div class="block"><a href="/itog">Расчет стоимости отопления (формирование документа)</a></div>
    <div class="block"><a href="/new_client">Добавление новых клиентов</a></div>
    <div class="block"><a href="/add_pokaz">Добавление показаний счетчика</a></div>
    <div class="block"><a href="/change_info_client">Изменение данных существующих клиентов</a></div>
    <div class="block"><a href="/delete_client">Удаление клиента</a></div>
    <div class="block"><a href="/about_client">Просмотр данных клиента</a></div>
    <div class="block"><a href="/about_company">Просмотр данных компании</a></div>
</div>
</div>
</body>
</html>