<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
<div class="bordered-link block_align">
<div class="dobr">Добро пожаловать!</div>
<div>
    <a href="/itog"><div class="block">Расчет стоимости отопления (формирование документа)</div></a>
    <a href="/client"><div class="block">Работа с клиентами (Добавление, изменение, просмотр, удаление информации)</div></a>
    <a href="/company"><div class="block">Работа с команиями (Изменение, просомотр информации)</div></a>
    <a href="/schetchik"><div class="block">Работа с показаниями на счетчиках (Добавление, изменение информации)</div></a>
</div>
</div>
</body>
</html>
